Test/Bucket1.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0660fe78-8904-373b-9f49-1b02838ae7ae",
            "id" : "b99ae3d3-e5f1-3099-bedd-b0cd6490d163",
            "name" : "CompressContent",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0660fe78-8904-373b-9f49-1b02838ae7ae",
          "identifier" : "e1fe7ada-e2dd-3802-af07-db3d94951988",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "0660fe78-8904-373b-9f49-1b02838ae7ae",
            "id" : "14fbea21-3a82-3bee-9e5e-26d5c058ff37",
            "name" : "FetchHDFS",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "funnels" : [ ],
        "identifier" : "0660fe78-8904-373b-9f49-1b02838ae7ae",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "TestRegistery",
        "outputPorts" : [ ],
        "position" : {
          "x" : 312.0,
          "y" : -104.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0660fe78-8904-373b-9f49-1b02838ae7ae",
          "identifier" : "b99ae3d3-e5f1-3099-bedd-b0cd6490d163",
          "name" : "CompressContent",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 415.0,
            "y" : 86.0
          },
          "properties" : {
            "Compression Format" : "use mime.type attribute",
            "Mode" : "compress",
            "Compression Level" : "1",
            "Update Filename" : "false"
          },
          "propertyDescriptors" : {
            "Compression Format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "Compression Format",
              "sensitive" : false
            },
            "Mode" : {
              "displayName" : "Mode",
              "identifiesControllerService" : false,
              "name" : "Mode",
              "sensitive" : false
            },
            "Compression Level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "Compression Level",
              "sensitive" : false
            },
            "Update Filename" : {
              "displayName" : "Update Filename",
              "identifiesControllerService" : false,
              "name" : "Update Filename",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.CompressContent",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-hadoop-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0660fe78-8904-373b-9f49-1b02838ae7ae",
          "identifier" : "14fbea21-3a82-3bee-9e5e-26d5c058ff37",
          "name" : "FetchHDFS",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 562.0,
            "y" : 316.0
          },
          "properties" : {
            "HDFS Filename" : "${path}/${filename}",
            "Compression codec" : "NONE",
            "Kerberos Relogin Period" : "4 hours"
          },
          "propertyDescriptors" : {
            "HDFS Filename" : {
              "displayName" : "HDFS Filename",
              "identifiesControllerService" : false,
              "name" : "HDFS Filename",
              "sensitive" : false
            },
            "Hadoop Configuration Resources" : {
              "displayName" : "Hadoop Configuration Resources",
              "identifiesControllerService" : false,
              "name" : "Hadoop Configuration Resources",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "Kerberos Keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "Kerberos Keytab",
              "sensitive" : false
            },
            "Additional Classpath Resources" : {
              "displayName" : "Additional Classpath Resources",
              "identifiesControllerService" : false,
              "name" : "Additional Classpath Resources",
              "sensitive" : false
            },
            "Kerberos Principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "Kerberos Principal",
              "sensitive" : false
            },
            "Compression codec" : {
              "displayName" : "Compression codec",
              "identifiesControllerService" : false,
              "name" : "Compression codec",
              "sensitive" : false
            },
            "Kerberos Relogin Period" : {
              "displayName" : "Kerberos Relogin Period",
              "identifiesControllerService" : false,
              "name" : "Kerberos Relogin Period",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.hadoop.FetchHDFS",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}